@tailwind base;
@tailwind components;
@tailwind utilities;

.text-shadow {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

@keyframes shine {
  0% {
    background-position: -100%;
  }

  100% {
    background-position: 100%;
  }
}

.shiny-text {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
  background-size: 200% 100%;
  animation: shine 2s infinite linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@keyframes twinkle {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}


@keyframes spinSlow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 30s linear infinite;
}